.wrap {
  width: 65%;
  margin: 4rem auto;
}

.first-section {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 7rem;
}

.first-section h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.first-section p {
  font-size: 20px;
  line-height: 22px;
}

.second-section h3 {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.box-wrap {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  background-color: #ff975f;
  padding: 35px 30px;
  border-radius: 20px;
  border: 2px solid #ff752b;
}

.box span {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.number {
  transition: --num 3s;
  counter-set: num var(--num);
  user-select: none;
}

.first-active-box .number {
  --num: 10000;
}

.second-active-box .number {
  --num: 2500;
}

.third-active-box .number {
  --num: 800;
}

.number::after {
  content: counter(num);
}

.box h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  margin-top: 5px;
}

.icon {
  height: fit-content;
  justify-self: right;
  background-color: #ff752b;
  padding: 10px;
  border-radius: 20px;
  transform: translateY(-14px);
}

.icon svg {
  transform: translateY(2px);
}

.mid-icon svg {
  transform: translateY(0);
}

.third-section-wrap {
  padding: 2.5rem 0 4rem 0;
  background-color: #ff975f;
}

.third-section {
  width: 80%;
  margin: 0rem auto;
}

.third-section h3 {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.2px;
}

.boxes-wrap {
  padding-top: 1rem;
  column-gap: 10px;
  grid-template-columns: 65% 35%;
}

.right-box,
.left-box {
  position: relative;
  cursor: pointer;
}

.right-box:hover h4::after,
.left-box:hover h4::after{
  width: 100%;
}

.right-box::after {
  height: 25%;
}

.left-box::after {
  height: 20%;
}

.right-box::after,
.left-box::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(26, 26, 26, 0.9) 25%,
    rgba(26, 26, 26, 0.8) 55%,
    rgba(26, 26, 26, 0.6) 75%,
    rgba(26, 26, 26, 0.4) 85%,
    rgba(26, 26, 26, 0.1) 95%,
    rgba(26, 26, 26, 0) 100%
  );
}

.left-box img,
.right-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxes-wrap h4 {
  position: absolute;
  bottom: 1.3rem;
  color: #fff;
  z-index: 10;
  user-select: none;
  letter-spacing: 0.2px;
  font-weight: bold;
}

.boxes-wrap h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: #fff;
  border-radius: 10px;
  transition: all 400ms;
}

.left-box h4 {
  left: 2rem;
  font-size: 42px;
}

.left-box h4::after {
  height: 4px;
}

.right-box h4::after {
  height: 2px;
}

.right-box h4 {
  left: 1rem;
  font-size: 26px;
}
